@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');

           /*Cores e fontes*/
:root{
    --color-principal: #000;
    --color-dourada: #daa520;
    --color-marrom: #964b00;
    --color-cinza: #808080;
    --font01: "Roboto Flex", sans-serif;
    --font02: "Roboto", sans-serif;
    --font03: "Red Rose", serif;
}
            /*Seletor Universal*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

            /*Body*/
body{
    background-color: black;
    color: white;
}

.img-logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--color-marrom);
}

header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: 1px solid var(--color-cinza);
    background-color: #000;
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 10rem;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 10px;
    padding-top: 10px;
}

nav a{
    font-family: var(--font03);
    color: white;
    margin-left: 18px;
}

nav a:hover{
    font-size: 25px;
    transition: 0.4s linear;
    color: var(--color-cinza);
    text-decoration: underline
}

.lupa-cart{
    cursor: pointer;
}

svg{
    margin-left: 30px;
}

svg:hover{
    width: 35px;
    height: 35px;
    transition: 0.3s;
}

.conteudo-1{
  width: 98vw;
  height: 100vh;
  color: white;
  background-image: url(image/xicara-com-café.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20rem;
}

.conteudo-1 article{
    width: 450px;
    background-color: #000000a4;
    border-radius: 5px;
    border: 1px solid var(--color-marrom);
    margin-left: 100px;
    text-align: center;
    padding: 20px;
}

article h2{   
    font-size: 3rem;
    font-family: var(--font02);
    padding-bottom: 20px;
}

.conteudo-1 p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    font-family: var(--font01);
}

.btn-p{
    padding: 10px;
    background-color: var(--color-dourada);
    color: white;
    border-radius: 4px;
    font-family: var(--font01);
    margin-top: 1.8rem;
    margin-bottom: 1.2rem;
    display: inline-block;
}

.btn-p:hover{
    color: var(--color-cinza);
    transition: 0.3s;
    padding: 15px;
}

.conteudo-2 .row{
    max-width: 1000px;
    display: flex;
    margin: auto;
}

.conteudo-2 h2{
    text-align: center;
    font-family: var(--font02);
    font-size: 3rem;
    margin-top: 20px ;
    margin-bottom: 20px;
}

.conteudo-2 span{
    color: var(--color-dourada);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgba(22, 21, 21, 0.716);
    width: 510px;
    height: 337px;
}

.container h3{
    padding-top: 24px;
    padding-bottom: 8px;
    font-family: var(--font02);
    font-size: 2rem;
    text-align: center;
}

.container p{
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 24px;
}

.btn-s{
    width: 100px;
    padding: 10px;
    background-color: var(--color-dourada);
    color: white;
    border-radius: 4px;
    font-family: var(--font01);
    margin-top: 1.0rem;
    margin-bottom: 1.2rem;
    margin: auto;
}

.btn-s:hover{
    color: var(--color-cinza);
    transition: 0.3s;
    padding: 15px;
}

.menu-1{
    margin-top: 3rem; 
}

#M-e{
    text-align: center;
    font-family: var(--font02);
}

#M-e span{
    color: var(--color-dourada);
}

.men{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-family: var(--font01);
}

.menu-{
    background-color: #964b001f;
    border: 1px solid var(--color-dourada);
    margin-left: 40px;
    text-align: center;
    padding: 15px;
}

.menu- > h3, p, a{
   margin-bottom: 10px;
}

.btn{
    color: white;
    font-family: var(--font02);
    background-color: var(--color-dourada);
    border-radius: 5px;
    padding: 4px;
}

.btn:hover{
    transition: 0.2s;
    padding: 9px;
}

.endereco{
    text-align: center;
    background-color: #161616;
}

.endereco > h2{
    color: white;
    font-family: var(--font02);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.endereco span{
    color: var(--color-dourada);
}